In [50]:
!pip install requests

Requirement already satisfied: requests in e:\deep learning projects\ann_classification_project\dlenv\lib\site-packages (2.32.4)
Requirement already satisfied: charset_normalizer<4,>=2 in e:\deep learning projects\ann_classification_project\dlenv\lib\site-packages (from requests) (3.4.2)
Requirement already satisfied: idna<4,>=2.5 in e:\deep learning projects\ann_classification_project\dlenv\lib\site-packages (from requests) (3.10)
Requirement already satisfied: urllib3<3,>=1.21.1 in e:\deep learning projects\ann_classification_project\dlenv\lib\site-packages (from requests) (2.5.0)
Requirement already satisfied: certifi>=2017.4.17 in e:\deep learning projects\ann_classification_project\dlenv\lib\site-packages (from requests) (2025.7.9)

In [51]:
import pandas as pd
import numpy as np
import requests

In [52]:
# importing the countries.
url="https://api.worldbank.org/countries?format=json&per_page=300"
response=requests.get(url)
response.status_code

200

In [53]:
data=response.json()
print("Meta data:",data[0])
print(len(data))

Meta data: {'page': 1, 'pages': 1, 'per_page': '300', 'total': 296}
2

In [54]:
countries=data[1]
countries=pd.DataFrame(countries)
countries

,id,iso2Code,name,region,adminregion,incomeLevel,lendingType,capitalCity,longitude,latitude
0,ABW,AW,Aruba,"{'id': 'LCN', 'iso2code': 'ZJ', 'value': 'Lati...","{'id': '', 'iso2code': '', 'value': ''}","{'id': 'HIC', 'iso2code': 'XD', 'value': 'High...","{'id': 'LNX', 'iso2code': 'XX', 'value': 'Not ...",Oranjestad,-70.0167,12.5167
1,AFE,ZH,Africa Eastern and Southern,"{'id': 'NA', 'iso2code': 'NA', 'value': 'Aggre...","{'id': '', 'iso2code': '', 'value': ''}","{'id': 'NA', 'iso2code': 'NA', 'value': 'Aggre...","{'id': '', 'iso2code': '', 'value': 'Aggregates'}",,,
2,AFG,AF,Afghanistan,"{'id': 'MEA', 'iso2code': 'ZQ', 'value': 'Midd...","{'id': 'MNA', 'iso2code': 'XQ', 'value': 'Midd...","{'id': 'LIC', 'iso2code': 'XM', 'value': 'Low ...","{'id': 'IDX', 'iso2code': 'XI', 'value': 'IDA'}",Kabul,69.1761,34.5228
3,AFR,A9,Africa,"{'id': 'NA', 'iso2code': 'NA', 'value': 'Aggre...","{'id': '', 'iso2code': '', 'value': ''}","{'id': 'NA', 'iso2code': 'NA', 'value': 'Aggre...","{'id': '', 'iso2code': '', 'value': 'Aggregates'}",,,
4,AFW,ZI,Africa Western and Central,"{'id': 'NA', 'iso2code': 'NA', 'value': 'Aggre...","{'id': '', 'iso2code': '', 'value': ''}","{'id': 'NA', 'iso2code': 'NA', 'value': 'Aggre...","{'id': '', 'iso2code': '', 'value': 'Aggregates'}",,,
...,...,...,...,...,...,...,...,...,...,...
291,XZN,A5,Sub-Saharan Africa excluding South Africa and ...,"{'id': 'NA', 'iso2code': 'NA', 'value': 'Aggre...","{'id': '', 'iso2code': '', 'value': ''}","{'id': 'NA', 'iso2code': 'NA', 'value': 'Aggre...","{'id': '', 'iso2code': '', 'value': 'Aggregates'}",,,
292,YEM,YE,"Yemen, Rep.","{'id': 'MEA', 'iso2code': 'ZQ', 'value': 'Midd...","{'id': 'MNA', 'iso2code': 'XQ', 'value': 'Midd...","{'id': 'LIC', 'iso2code': 'XM', 'value': 'Low ...","{'id': 'IDX', 'iso2code': 'XI', 'value': 'IDA'}",Sana'a,44.2075,15.352
293,ZAF,ZA,South Africa,"{'id': 'SSF', 'iso2code': 'ZG', 'value': 'Sub-...","{'id': 'SSA', 'iso2code': 'ZF', 'value': 'Sub-...","{'id': 'UMC', 'iso2code': 'XT', 'value': 'Uppe...","{'id': 'IBD', 'iso2code': 'XF', 'value': 'IBRD'}",Pretoria,28.1871,-25.746
294,ZMB,ZM,Zambia,"{'id': 'SSF', 'iso2code': 'ZG', 'value': 'Sub-...","{'id': 'SSA', 'iso2code': 'ZF', 'value': 'Sub-...","{'id': 'LMC', 'iso2code': 'XN', 'value': 'Lowe...","{'id': 'IDX', 'iso2code': 'XI', 'value': 'IDA'}",Lusaka,28.2937,-15.3982
295,ZWE,ZW,Zimbabwe,"{'id': 'SSF', 'iso2code': 'ZG', 'value': 'Sub-...","{'id': 'SSA', 'iso2code': 'ZF', 'value': 'Sub-...","{'id': 'LMC', 'iso2code': 'XN', 'value': 'Lowe...","{'id': 'IDB', 'iso2code': 'XH', 'value': 'Blend'}",Harare,31.0672,-17.8312

In [55]:
countries["region"][0]

{'id': 'LCN', 'iso2code': 'ZJ', 'value': 'Latin America & Caribbean '}

In [56]:
countries["adminregion"][0]

{'id': '', 'iso2code': '', 'value': ''}

In [57]:
countries["incomeLevel"][6]

{'id': 'UMC', 'iso2code': 'XT', 'value': 'Upper middle income'}

In [58]:
countries["lendingType"][6]

{'id': 'IBD', 'iso2code': 'XF', 'value': 'IBRD'}

In [59]:
countries["region"]=countries["region"].apply(lambda x:x["value"])
countries["region"]

0                             Latin America & Caribbean
1                                             Aggregates
2      Middle East, North Africa, Afghanistan & Pakistan
3                                             Aggregates
4                                             Aggregates
                             ...
291                                           Aggregates
292    Middle East, North Africa, Afghanistan & Pakistan
293                                  Sub-Saharan Africa
294                                  Sub-Saharan Africa
295                                  Sub-Saharan Africa
Name: region, Length: 296, dtype: object

In [60]:
countries["incomeLevel"]=countries["incomeLevel"].apply(lambda x:x["value"])
countries["incomeLevel"]

0              High income
1               Aggregates
2               Low income
3               Aggregates
4               Aggregates
              ...
291             Aggregates
292             Low income
293    Upper middle income
294    Lower middle income
295    Lower middle income
Name: incomeLevel, Length: 296, dtype: object

In [61]:
countries["lendingType"]=countries["lendingType"].apply(lambda x:x["value"])
countries["lendingType"]

0      Not classified
1          Aggregates
2                 IDA
3          Aggregates
4          Aggregates
            ...
291        Aggregates
292               IDA
293              IBRD
294               IDA
295             Blend
Name: lendingType, Length: 296, dtype: object

In [62]:
countries

,id,iso2Code,name,region,adminregion,incomeLevel,lendingType,capitalCity,longitude,latitude
0,ABW,AW,Aruba,Latin America & Caribbean,"{'id': '', 'iso2code': '', 'value': ''}",High income,Not classified,Oranjestad,-70.0167,12.5167
1,AFE,ZH,Africa Eastern and Southern,Aggregates,"{'id': '', 'iso2code': '', 'value': ''}",Aggregates,Aggregates,,,
2,AFG,AF,Afghanistan,"Middle East, North Africa, Afghanistan & Pakistan","{'id': 'MNA', 'iso2code': 'XQ', 'value': 'Midd...",Low income,IDA,Kabul,69.1761,34.5228
3,AFR,A9,Africa,Aggregates,"{'id': '', 'iso2code': '', 'value': ''}",Aggregates,Aggregates,,,
4,AFW,ZI,Africa Western and Central,Aggregates,"{'id': '', 'iso2code': '', 'value': ''}",Aggregates,Aggregates,,,
...,...,...,...,...,...,...,...,...,...,...
291,XZN,A5,Sub-Saharan Africa excluding South Africa and ...,Aggregates,"{'id': '', 'iso2code': '', 'value': ''}",Aggregates,Aggregates,,,
292,YEM,YE,"Yemen, Rep.","Middle East, North Africa, Afghanistan & Pakistan","{'id': 'MNA', 'iso2code': 'XQ', 'value': 'Midd...",Low income,IDA,Sana'a,44.2075,15.352
293,ZAF,ZA,South Africa,Sub-Saharan Africa,"{'id': 'SSA', 'iso2code': 'ZF', 'value': 'Sub-...",Upper middle income,IBRD,Pretoria,28.1871,-25.746
294,ZMB,ZM,Zambia,Sub-Saharan Africa,"{'id': 'SSA', 'iso2code': 'ZF', 'value': 'Sub-...",Lower middle income,IDA,Lusaka,28.2937,-15.3982
295,ZWE,ZW,Zimbabwe,Sub-Saharan Africa,"{'id': 'SSA', 'iso2code': 'ZF', 'value': 'Sub-...",Lower middle income,Blend,Harare,31.0672,-17.8312

In [63]:
countries.drop(columns=['adminregion','capitalCity'],inplace=True)

In [65]:
countries['region'].unique()

array(['Latin America & Caribbean ', 'Aggregates',
       'Middle East, North Africa, Afghanistan & Pakistan',
       'Sub-Saharan Africa ', 'Europe & Central Asia',
       'East Asia & Pacific', 'South Asia', 'North America'], dtype=object)

In [66]:
countries[countries["region"]=='Aggregates']

,id,iso2Code,name,region,incomeLevel,lendingType,longitude,latitude
1,AFE,ZH,Africa Eastern and Southern,Aggregates,Aggregates,Aggregates,,
3,AFR,A9,Africa,Aggregates,Aggregates,Aggregates,,
4,AFW,ZI,Africa Western and Central,Aggregates,Aggregates,Aggregates,,
8,ARB,1A,Arab World,Aggregates,Aggregates,Aggregates,,
18,BEA,B4,East Asia & Pacific (IBRD-only countries),Aggregates,Aggregates,Aggregates,,
...,...,...,...,...,...,...,...,...
269,TSA,T5,South Asia (IDA & IBRD),Aggregates,Aggregates,Aggregates,,
270,TSS,T6,Sub-Saharan Africa (IDA & IBRD countries),Aggregates,Aggregates,Aggregates,,
278,UMC,XT,Upper middle income,Aggregates,Aggregates,Aggregates,,
288,WLD,1W,World,Aggregates,Aggregates,Aggregates,,
291,XZN,A5,Sub-Saharan Africa excluding South Africa and ...,Aggregates,Aggregates,Aggregates,,

In [67]:
# Code for Indicators

base_url="https://api.worldbank.org/v2/indicators?format=json"
response=requests.get(base_url)
response.status_code

200

In [68]:
indicators_data=response.json()

In [73]:
indicators_data[0]

{'page': 1, 'pages': 587, 'per_page': '50', 'total': 29323}

In [71]:
pd.DataFrame(indicators_data[1])

,id,name,unit,source,sourceNote,sourceOrganization,topics
0,1.0.HCount.1.90usd,Poverty Headcount ($1.90 a day),,"{'id': '37', 'value': 'LAC Equity Lab'}",The poverty headcount index measures the propo...,LAC Equity Lab tabulations of SEDLAC (CEDLAS a...,"[{'id': '11', 'value': 'Poverty '}]"
1,1.0.HCount.2.5usd,Poverty Headcount ($2.50 a day),,"{'id': '37', 'value': 'LAC Equity Lab'}",The poverty headcount index measures the propo...,LAC Equity Lab tabulations of SEDLAC (CEDLAS a...,"[{'id': '11', 'value': 'Poverty '}]"
2,1.0.HCount.Mid10to50,Middle Class ($10-50 a day) Headcount,,"{'id': '37', 'value': 'LAC Equity Lab'}",The poverty headcount index measures the propo...,LAC Equity Lab tabulations of SEDLAC (CEDLAS a...,"[{'id': '11', 'value': 'Poverty '}]"
3,1.0.HCount.Ofcl,Official Moderate Poverty Rate-National,,"{'id': '37', 'value': 'LAC Equity Lab'}",The poverty headcount index measures the propo...,LAC Equity Lab tabulations of data from Nation...,"[{'id': '11', 'value': 'Poverty '}]"
4,1.0.HCount.Poor4uds,Poverty Headcount ($4 a day),,"{'id': '37', 'value': 'LAC Equity Lab'}",The poverty headcount index measures the propo...,LAC Equity Lab tabulations of SEDLAC (CEDLAS a...,"[{'id': '11', 'value': 'Poverty '}]"
5,1.0.HCount.Vul4to10,Vulnerable ($4-10 a day) Headcount,,"{'id': '37', 'value': 'LAC Equity Lab'}",The poverty headcount index measures the propo...,LAC Equity Lab tabulations of SEDLAC (CEDLAS a...,"[{'id': '11', 'value': 'Poverty '}]"
6,1.0.PGap.1.90usd,Poverty Gap ($1.90 a day),,"{'id': '37', 'value': 'LAC Equity Lab'}",The poverty gap captures the mean aggregate in...,LAC Equity Lab tabulations of SEDLAC (CEDLAS a...,"[{'id': '11', 'value': 'Poverty '}]"
7,1.0.PGap.2.5usd,Poverty Gap ($2.50 a day),,"{'id': '37', 'value': 'LAC Equity Lab'}",The poverty gap captures the mean aggregate in...,LAC Equity Lab tabulations of SEDLAC (CEDLAS a...,"[{'id': '11', 'value': 'Poverty '}]"
8,1.0.PGap.Poor4uds,Poverty Gap ($4 a day),,"{'id': '37', 'value': 'LAC Equity Lab'}",The poverty gap captures the mean aggregate in...,LAC Equity Lab tabulations of SEDLAC (CEDLAS a...,"[{'id': '11', 'value': 'Poverty '}]"
9,1.0.PSev.1.90usd,Poverty Severity ($1.90 a day),,"{'id': '37', 'value': 'LAC Equity Lab'}",The poverty severity index combines informatio...,LAC Equity Lab tabulations of SEDLAC (CEDLAS a...,"[{'id': '11', 'value': 'Poverty '}]"
10,1.0.PSev.2.5usd,Poverty Severity ($2.50 a day),,"{'id': '37', 'value': 'LAC Equity Lab'}",The poverty severity index combines informatio...,LAC Equity Lab tabulations of SEDLAC (CEDLAS a...,"[{'id': '11', 'value': 'Poverty '}]"
11,1.0.PSev.Poor4uds,Poverty Severity ($4 a day),,"{'id': '37', 'value': 'LAC Equity Lab'}",The poverty severity index combines informatio...,LAC Equity Lab tabulations of SEDLAC (CEDLAS a...,"[{'id': '11', 'value': 'Poverty '}]"
12,1.1.HCount.1.90usd,Poverty Headcount ($1.90 a day)-Rural,,"{'id': '37', 'value': 'LAC Equity Lab'}",The poverty headcount index measures the propo...,LAC Equity Lab tabulations of SEDLAC (CEDLAS a...,"[{'id': '11', 'value': 'Poverty '}]"
13,1.1.HCount.2.5usd,Poverty Headcount ($2.50 a day)-Rural,,"{'id': '37', 'value': 'LAC Equity Lab'}",The poverty headcount index measures the propo...,LAC Equity Lab tabulations of SEDLAC (CEDLAS a...,"[{'id': '11', 'value': 'Poverty '}]"
14,1.1.HCount.Mid10to50,Middle Class ($10-50 a day) Headcount-Rural,,"{'id': '37', 'value': 'LAC Equity Lab'}",The poverty headcount index measures the propo...,LAC Equity Lab tabulations of SEDLAC (CEDLAS a...,"[{'id': '11', 'value': 'Poverty '}]"
15,1.1.HCount.Ofcl,Official Moderate Poverty Rate- Rural,,"{'id': '37', 'value': 'LAC Equity Lab'}",The poverty headcount index measures the propo...,LAC Equity Lab tabulations of data from Nation...,"[{'id': '11', 'value': 'Poverty '}]"
16,1.1.HCount.Poor4uds,Poverty Headcount ($4 a day)-Rural,,"{'id': '37', 'value': 'LAC Equity Lab'}",The poverty headcount index measures the propo...,LAC Equity Lab tabulations of SEDLAC (CEDLAS a...,"[{'id': '11', 'value': 'Poverty '}]"
17,1.1.HCount.Vul4to10,Vulnerable ($4-10 a day) Headcount-Rural,,"{'id': '37', 'value': 'LAC Equity Lab'}",The poverty headcount index measures the propo...,LAC Equity Lab tabulations of SEDLAC (CEDLAS a...,"[{'id': '11', 'value': 'Poverty '}]"
18,1.1.PGap.1.90usd,Poverty Gap ($1.90 a day)-Rural,,"{'id': '37', 'value': 'LAC Equity Lab'}",The poverty gap captures the mean aggregate in...,LAC Equity Lab tabulations of SEDLAC (CEDLAS a...,"[{'id': '11', 'value': 'Poverty '}]"
19,1.1.PGap.2.5usd,Poverty Gap ($2.50 a day)-Rural,,"{'id': '37', 'value': 'LAC Equity Lab'}",The poverty gap captures the mean aggregate in...,LAC Equity Lab tabulations of SEDLAC (CEDLAS a...,"[{'id': '11', 'value': 'Poverty '}]"
20,1.1.PGap.Poor4uds,Poverty Gap ($4 a day)-Rural,,"{'id': '37', 'value': 'LAC Equity Lab'}",The poverty gap captures the mean aggregate in...,LAC Equity Lab tabulations of SEDLAC (CEDLAS a...,"[{'id': '11', 'value': 'Poverty '}]"
21,1.1.PSev.1.90usd,Poverty Severity ($1.90 a day)-Rural,,"{'id': '37', 'value': 'LAC Equity Lab'}",The poverty severity index combines informatio...,LAC Equity Lab tabulations of SEDLAC (CEDLAS a...,"[{'id': '11', 'value': 'Poverty '}]"
22,1.1.PSev.2.5usd,Poverty Severity ($2.50 a day)-Rural,,"{'id': '37', 'value': 'LAC Equity Lab'}",The poverty severity index combines informatio...,LAC Equity Lab tabulations of SEDLAC (CEDLAS a...,"[{'id': '11', 'value': 'Poverty '}]"
23,1.1.PSev.Poor4uds,Poverty Severity ($4 a day)-Rural,,"{'id': '37', 'value': 'LAC Equity Lab'}",The poverty severity index combines informatio...,LAC Equity Lab tabulations of SEDLAC (CEDLAS a...,"[{'id': '11', 'value': 'Poverty '}]"
24,1.1_ACCESS.ELECTRICITY.TOT,Access to electricity (% of total population),,"{'id': '35', 'value': 'Sustainable Energy for ...",Access to electricity is the percentage of pop...,World Bank Global Electrification Database 2012,[]
25,1.1_TOTAL.FINAL.ENERGY.CONSUM,Total final energy consumption (TFEC),,"{'id': '35', 'value': 'Sustainable Energy for ...",Total final energy consumption (TFEC): This in...,World Bank and International Energy Agency (IE...,[]
26,1.1_YOUTH.LITERACY.RATE,"Literacy rate, youth total (% of people ages 1...",,"{'id': '34', 'value': 'Global Partnership for ...",The number of persons aged 15 to 24 years who ...,Source of information: UNESCO Institute for St...,[]
27,1.2.HCount.1.90usd,Poverty Headcount ($1.90 a day)-Urban,,"{'id': '37', 'value': 'LAC Equity Lab'}",The poverty headcount index measures the propo...,LAC Equity Lab tabulations of SEDLAC (CEDLAS a...,"[{'id': '11', 'value': 'Poverty '}]"
28,1.2.HCount.2.5usd,Poverty Headcount ($2.50 a day)-Urban,,"{'id': '37', 'value': 'LAC Equity Lab'}",The poverty headcount index measures the propo...,LAC Equity Lab tabulations of SEDLAC (CEDLAS a...,"[{'id': '11', 'value': 'Poverty '}]"
29,1.2.HCount.Mid10to50,Middle Class ($10-50 a day) Headcount-Urban,,"{'id': '37', 'value': 'LAC Equity Lab'}",The poverty headcount index measures the propo...,LAC Equity Lab tabulations of SEDLAC (CEDLAS a...,"[{'id': '11', 'value': 'Poverty '}]"
30,1.2.HCount.Ofcl,Official Moderate Poverty Rate-Urban,,"{'id': '37', 'value': 'LAC Equity Lab'}",The poverty headcount index measures the propo...,LAC Equity Lab tabulations of data from Nation...,"[{'id': '11', 'value': 'Poverty '}]"
31,1.2.HCount.Poor4uds,Poverty Headcount ($4 a day)-Urban,,"{'id': '37', 'value': 'LAC Equity Lab'}",The poverty headcount index measures the propo...,LAC Equity Lab tabulations of SEDLAC (CEDLAS a...,"[{'id': '11', 'value': 'Poverty '}]"
32,1.2.HCount.Vul4to10,Vulnerable ($4-10 a day) Headcount-Urban,,"{'id': '37', 'value': 'LAC Equity Lab'}",The poverty headcount index measures the propo...,LAC Equity Lab tabulations of SEDLAC (CEDLAS a...,"[{'id': '11', 'value': 'Poverty '}]"
33,1.2.PGap.1.90usd,Poverty Gap ($1.90 a day)-Urban,,"{'id': '37', 'value': 'LAC Equity Lab'}",The poverty gap captures the mean aggregate in...,LAC Equity Lab tabulations of SEDLAC (CEDLAS a...,"[{'id': '11', 'value': 'Poverty '}]"
34,1.2.PGap.2.5usd,Poverty Gap ($2.50 a day)-Urban,,"{'id': '37', 'value': 'LAC Equity Lab'}",The poverty gap captures the mean aggregate in...,LAC Equity Lab tabulations of SEDLAC (CEDLAS a...,"[{'id': '11', 'value': 'Poverty '}]"
35,1.2.PGap.Poor4uds,Poverty Gap ($4 a day)-Urban,,"{'id': '37', 'value': 'LAC Equity Lab'}",The poverty gap captures the mean aggregate in...,LAC Equity Lab tabulations of SEDLAC (CEDLAS a...,"[{'id': '11', 'value': 'Poverty '}]"
36,1.2.PSev.1.90usd,Poverty Severity ($1.90 a day)-Urban,,"{'id': '37', 'value': 'LAC Equity Lab'}",The poverty severity index combines informatio...,LAC Equity Lab tabulations of SEDLAC (CEDLAS a...,"[{'id': '11', 'value': 'Poverty '}]"
37,1.2.PSev.2.5usd,Poverty Severity ($2.50 a day)-Urban,,"{'id': '37', 'value': 'LAC Equity Lab'}",The poverty severity index combines informatio...,LAC Equity Lab tabulations of SEDLAC (CEDLAS a...,"[{'id': '11', 'value': 'Poverty '}]"
38,1.2.PSev.Poor4uds,Poverty Severity ($4 a day)-Urban,,"{'id': '37', 'value': 'LAC Equity Lab'}",The poverty severity index combines informatio...,LAC Equity Lab tabulations of SEDLAC (CEDLAS a...,"[{'id': '11', 'value': 'Poverty '}]"
39,1.2_ACCESS.ELECTRICITY.RURAL,Access to electricity (% of rural population),,"{'id': '35', 'value': 'Sustainable Energy for ...",Access to electricity is the percentage of rur...,World Bank Global Electrification Database 2013,[]
40,1.3_ACCESS.ELECTRICITY.URBAN,Access to electricity (% of urban population),,"{'id': '35', 'value': 'Sustainable Energy for ...",Access to electricity is the percentage of tot...,World Bank Global Electrification Database 2014,[]
41,100000,100000:GROSS DOMESTIC PRODUCT,,"{'id': '71', 'value': 'International Compariso...",,,[]
42,1000000,1000000:GROSS DOMESTIC PRODUCT,,"{'id': '78', 'value': 'ICP 2017'}",,,[]
43,110000,110000:INDIVIDUAL CONSUMPTION EXPENDITURE BY H...,,"{'id': '71', 'value': 'International Compariso...",,,[]
44,110100,110100:FOOD AND NON-ALCOHOLIC BEVERAGES,,"{'id': '71', 'value': 'International Compariso...",,,[]
45,1101000,1101000:FOOD AND NON-ALCOHOLIC BEVERAGES,,"{'id': '78', 'value': 'ICP 2017'}",,,[]
46,110110,110110:FOOD,,"{'id': '71', 'value': 'International Compariso...",,,[]
47,1101100,1101100:FOOD,,"{'id': '78', 'value': 'ICP 2017'}",,,[]
48,110111,110111:Bread and cereals (Class),,"{'id': '71', 'value': 'International Compariso...",,,[]
49,1101110,1101110:Bread and cereals,,"{'id': '78', 'value': 'ICP 2017'}",,,[{}]

In [74]:
all_dfs=[]
for i in range(1,588):
    url=f"https://api.worldbank.org/v2/indicators?format=json&per_page=500&page={i}"
    response=requests.get(url)
    if response.status_code==200:
        data=response.json()
        if len(data)<2:
            print(f"No data at page {i}")
        indicators=data[1]
        df=pd.DataFrame([{"id":item["id"],
                       "name":item["name"]} for item in indicators])
        all_dfs.append(df)
        print(f"page{i}: {len(df)} indicators collected")
    else:
        print(f"Failed to fetch page {i},status code {response.status_code}")

page1: 500 indicators collected
page2: 500 indicators collected
page3: 500 indicators collected
page4: 500 indicators collected
page5: 500 indicators collected
page6: 500 indicators collected
page7: 500 indicators collected
page8: 500 indicators collected
page9: 500 indicators collected
page10: 500 indicators collected
page11: 500 indicators collected
page12: 500 indicators collected
page13: 500 indicators collected
page14: 500 indicators collected
page15: 500 indicators collected
page16: 500 indicators collected
page17: 500 indicators collected
page18: 500 indicators collected
page19: 500 indicators collected
page20: 500 indicators collected
page21: 500 indicators collected
page22: 500 indicators collected
page23: 500 indicators collected
page24: 500 indicators collected
page25: 500 indicators collected
page26: 500 indicators collected
page27: 500 indicators collected
page28: 500 indicators collected
page29: 500 indicators collected
page30: 500 indicators collected
page31: 500 indicators collected
page32: 500 indicators collected
page33: 500 indicators collected
page34: 500 indicators collected
page35: 500 indicators collected
page36: 500 indicators collected
page37: 500 indicators collected
page38: 500 indicators collected
page39: 500 indicators collected
page40: 500 indicators collected
page41: 500 indicators collected
page42: 500 indicators collected
page43: 500 indicators collected
page44: 500 indicators collected
page45: 500 indicators collected
page46: 500 indicators collected
page47: 500 indicators collected
page48: 500 indicators collected
page49: 500 indicators collected
page50: 500 indicators collected
page51: 500 indicators collected
page52: 500 indicators collected
page53: 500 indicators collected
page54: 500 indicators collected
page55: 500 indicators collected
page56: 500 indicators collected
page57: 500 indicators collected
page58: 500 indicators collected
page59: 323 indicators collected
page60: 0 indicators collected
page61: 0 indicators collected
page62: 0 indicators collected
page63: 0 indicators collected
page64: 0 indicators collected
page65: 0 indicators collected
page66: 0 indicators collected
page67: 0 indicators collected
page68: 0 indicators collected
page69: 0 indicators collected
page70: 0 indicators collected
page71: 0 indicators collected
page72: 0 indicators collected
page73: 0 indicators collected
page74: 0 indicators collected
page75: 0 indicators collected
page76: 0 indicators collected
page77: 0 indicators collected
page78: 0 indicators collected
page79: 0 indicators collected
page80: 0 indicators collected
page81: 0 indicators collected
page82: 0 indicators collected
page83: 0 indicators collected
page84: 0 indicators collected
page85: 0 indicators collected
page86: 0 indicators collected
page87: 0 indicators collected
page88: 0 indicators collected
page89: 0 indicators collected
page90: 0 indicators collected
page91: 0 indicators collected
page92: 0 indicators collected
page93: 0 indicators collected
page94: 0 indicators collected
page95: 0 indicators collected
page96: 0 indicators collected
page97: 0 indicators collected
page98: 0 indicators collected
page99: 0 indicators collected
page100: 0 indicators collected
page101: 0 indicators collected
page102: 0 indicators collected
page103: 0 indicators collected
page104: 0 indicators collected
page105: 0 indicators collected
page106: 0 indicators collected
page107: 0 indicators collected
page108: 0 indicators collected
page109: 0 indicators collected
page110: 0 indicators collected
page111: 0 indicators collected
page112: 0 indicators collected
page113: 0 indicators collected
page114: 0 indicators collected
page115: 0 indicators collected
page116: 0 indicators collected
page117: 0 indicators collected
page118: 0 indicators collected
page119: 0 indicators collected
page120: 0 indicators collected
page121: 0 indicators collected
page122: 0 indicators collected
page123: 0 indicators collected
page124: 0 indicators collected
page125: 0 indicators collected
page126: 0 indicators collected
page127: 0 indicators collected
page128: 0 indicators collected
page129: 0 indicators collected
page130: 0 indicators collected
page131: 0 indicators collected
page132: 0 indicators collected
page133: 0 indicators collected
page134: 0 indicators collected
page135: 0 indicators collected
page136: 0 indicators collected
page137: 0 indicators collected
page138: 0 indicators collected
page139: 0 indicators collected
page140: 0 indicators collected
page141: 0 indicators collected
page142: 0 indicators collected
page143: 0 indicators collected
page144: 0 indicators collected
page145: 0 indicators collected
page146: 0 indicators collected
page147: 0 indicators collected
page148: 0 indicators collected
page149: 0 indicators collected
page150: 0 indicators collected
page151: 0 indicators collected
page152: 0 indicators collected
page153: 0 indicators collected
page154: 0 indicators collected
page155: 0 indicators collected
page156: 0 indicators collected
page157: 0 indicators collected
page158: 0 indicators collected
page159: 0 indicators collected
page160: 0 indicators collected
page161: 0 indicators collected
page162: 0 indicators collected
page163: 0 indicators collected
page164: 0 indicators collected
page165: 0 indicators collected
page166: 0 indicators collected
page167: 0 indicators collected
page168: 0 indicators collected
page169: 0 indicators collected
page170: 0 indicators collected
page171: 0 indicators collected
page172: 0 indicators collected
page173: 0 indicators collected
page174: 0 indicators collected
page175: 0 indicators collected
page176: 0 indicators collected
page177: 0 indicators collected
page178: 0 indicators collected
page179: 0 indicators collected
page180: 0 indicators collected
page181: 0 indicators collected
page182: 0 indicators collected
page183: 0 indicators collected
page184: 0 indicators collected
page185: 0 indicators collected
page186: 0 indicators collected
page187: 0 indicators collected
page188: 0 indicators collected
page189: 0 indicators collected
page190: 0 indicators collected
page191: 0 indicators collected
page192: 0 indicators collected
page193: 0 indicators collected
page194: 0 indicators collected
page195: 0 indicators collected
page196: 0 indicators collected
page197: 0 indicators collected
page198: 0 indicators collected
page199: 0 indicators collected
page200: 0 indicators collected
page201: 0 indicators collected
page202: 0 indicators collected
page203: 0 indicators collected
page204: 0 indicators collected
page205: 0 indicators collected
page206: 0 indicators collected
page207: 0 indicators collected
page208: 0 indicators collected
page209: 0 indicators collected
page210: 0 indicators collected
page211: 0 indicators collected
page212: 0 indicators collected
page213: 0 indicators collected
page214: 0 indicators collected
page215: 0 indicators collected
page216: 0 indicators collected
page217: 0 indicators collected
page218: 0 indicators collected
page219: 0 indicators collected
page220: 0 indicators collected
page221: 0 indicators collected
page222: 0 indicators collected
page223: 0 indicators collected
page224: 0 indicators collected
page225: 0 indicators collected
page226: 0 indicators collected
page227: 0 indicators collected
page228: 0 indicators collected
page229: 0 indicators collected
page230: 0 indicators collected
page231: 0 indicators collected
page232: 0 indicators collected
page233: 0 indicators collected
page234: 0 indicators collected
page235: 0 indicators collected
page236: 0 indicators collected
page237: 0 indicators collected
page238: 0 indicators collected
page239: 0 indicators collected
page240: 0 indicators collected
page241: 0 indicators collected
page242: 0 indicators collected
page243: 0 indicators collected
page244: 0 indicators collected
page245: 0 indicators collected
page246: 0 indicators collected
page247: 0 indicators collected
page248: 0 indicators collected
page249: 0 indicators collected
page250: 0 indicators collected
page251: 0 indicators collected
page252: 0 indicators collected
page253: 0 indicators collected
page254: 0 indicators collected
page255: 0 indicators collected
page256: 0 indicators collected
page257: 0 indicators collected
page258: 0 indicators collected
page259: 0 indicators collected
page260: 0 indicators collected
page261: 0 indicators collected
page262: 0 indicators collected
page263: 0 indicators collected
page264: 0 indicators collected
page265: 0 indicators collected
page266: 0 indicators collected
page267: 0 indicators collected
page268: 0 indicators collected
page269: 0 indicators collected
page270: 0 indicators collected
page271: 0 indicators collected
page272: 0 indicators collected
page273: 0 indicators collected
page274: 0 indicators collected
page275: 0 indicators collected
page276: 0 indicators collected
page277: 0 indicators collected
page278: 0 indicators collected
page279: 0 indicators collected
page280: 0 indicators collected
page281: 0 indicators collected
page282: 0 indicators collected
page283: 0 indicators collected
page284: 0 indicators collected
page285: 0 indicators collected
page286: 0 indicators collected
page287: 0 indicators collected
page288: 0 indicators collected
page289: 0 indicators collected
page290: 0 indicators collected
page291: 0 indicators collected
page292: 0 indicators collected
page293: 0 indicators collected
page294: 0 indicators collected
page295: 0 indicators collected
page296: 0 indicators collected
page297: 0 indicators collected
page298: 0 indicators collected
page299: 0 indicators collected
page300: 0 indicators collected
page301: 0 indicators collected
page302: 0 indicators collected
page303: 0 indicators collected
page304: 0 indicators collected
page305: 0 indicators collected
page306: 0 indicators collected
page307: 0 indicators collected
page308: 0 indicators collected
page309: 0 indicators collected
page310: 0 indicators collected
page311: 0 indicators collected
page312: 0 indicators collected
page313: 0 indicators collected
page314: 0 indicators collected
page315: 0 indicators collected
page316: 0 indicators collected
page317: 0 indicators collected
page318: 0 indicators collected
page319: 0 indicators collected
page320: 0 indicators collected
page321: 0 indicators collected
page322: 0 indicators collected
page323: 0 indicators collected
page324: 0 indicators collected
page325: 0 indicators collected
page326: 0 indicators collected
page327: 0 indicators collected
page328: 0 indicators collected
page329: 0 indicators collected
page330: 0 indicators collected
page331: 0 indicators collected
page332: 0 indicators collected
page333: 0 indicators collected
page334: 0 indicators collected
page335: 0 indicators collected
page336: 0 indicators collected
page337: 0 indicators collected
page338: 0 indicators collected
page339: 0 indicators collected
page340: 0 indicators collected
page341: 0 indicators collected
page342: 0 indicators collected
page343: 0 indicators collected
page344: 0 indicators collected
page345: 0 indicators collected
page346: 0 indicators collected
page347: 0 indicators collected
page348: 0 indicators collected
page349: 0 indicators collected
page350: 0 indicators collected
page351: 0 indicators collected
page352: 0 indicators collected
page353: 0 indicators collected
page354: 0 indicators collected
page355: 0 indicators collected
page356: 0 indicators collected
page357: 0 indicators collected
page358: 0 indicators collected
page359: 0 indicators collected
page360: 0 indicators collected
page361: 0 indicators collected
page362: 0 indicators collected
page363: 0 indicators collected
page364: 0 indicators collected
page365: 0 indicators collected
page366: 0 indicators collected
page367: 0 indicators collected
page368: 0 indicators collected
page369: 0 indicators collected
page370: 0 indicators collected
page371: 0 indicators collected
page372: 0 indicators collected
page373: 0 indicators collected
page374: 0 indicators collected
page375: 0 indicators collected
page376: 0 indicators collected
page377: 0 indicators collected
page378: 0 indicators collected
page379: 0 indicators collected
page380: 0 indicators collected
page381: 0 indicators collected
page382: 0 indicators collected
page383: 0 indicators collected
page384: 0 indicators collected
page385: 0 indicators collected
page386: 0 indicators collected
page387: 0 indicators collected
page388: 0 indicators collected
page389: 0 indicators collected
page390: 0 indicators collected
page391: 0 indicators collected
page392: 0 indicators collected
page393: 0 indicators collected
page394: 0 indicators collected
page395: 0 indicators collected
page396: 0 indicators collected
page397: 0 indicators collected
page398: 0 indicators collected
page399: 0 indicators collected
page400: 0 indicators collected
page401: 0 indicators collected
page402: 0 indicators collected
page403: 0 indicators collected
page404: 0 indicators collected
page405: 0 indicators collected
page406: 0 indicators collected
page407: 0 indicators collected
page408: 0 indicators collected
page409: 0 indicators collected
page410: 0 indicators collected
page411: 0 indicators collected
page412: 0 indicators collected
page413: 0 indicators collected
page414: 0 indicators collected
page415: 0 indicators collected
page416: 0 indicators collected
page417: 0 indicators collected
page418: 0 indicators collected
page419: 0 indicators collected
page420: 0 indicators collected
page421: 0 indicators collected
page422: 0 indicators collected
page423: 0 indicators collected
page424: 0 indicators collected
page425: 0 indicators collected
page426: 0 indicators collected
page427: 0 indicators collected
page428: 0 indicators collected
page429: 0 indicators collected
page430: 0 indicators collected
page431: 0 indicators collected
page432: 0 indicators collected
page433: 0 indicators collected
page434: 0 indicators collected
page435: 0 indicators collected
page436: 0 indicators collected
page437: 0 indicators collected
page438: 0 indicators collected
page439: 0 indicators collected
page440: 0 indicators collected
page441: 0 indicators collected
page442: 0 indicators collected
page443: 0 indicators collected
page444: 0 indicators collected
page445: 0 indicators collected
page446: 0 indicators collected
page447: 0 indicators collected
page448: 0 indicators collected
page449: 0 indicators collected
page450: 0 indicators collected
page451: 0 indicators collected
page452: 0 indicators collected
page453: 0 indicators collected
page454: 0 indicators collected
page455: 0 indicators collected
page456: 0 indicators collected
page457: 0 indicators collected
page458: 0 indicators collected
page459: 0 indicators collected
page460: 0 indicators collected
page461: 0 indicators collected
page462: 0 indicators collected
page463: 0 indicators collected
page464: 0 indicators collected
page465: 0 indicators collected
page466: 0 indicators collected
page467: 0 indicators collected
page468: 0 indicators collected
page469: 0 indicators collected
page470: 0 indicators collected
page471: 0 indicators collected
page472: 0 indicators collected
page473: 0 indicators collected
page474: 0 indicators collected
page475: 0 indicators collected
page476: 0 indicators collected
page477: 0 indicators collected
page478: 0 indicators collected
page479: 0 indicators collected
page480: 0 indicators collected
page481: 0 indicators collected
page482: 0 indicators collected
page483: 0 indicators collected
page484: 0 indicators collected
page485: 0 indicators collected
page486: 0 indicators collected
page487: 0 indicators collected
page488: 0 indicators collected
page489: 0 indicators collected
page490: 0 indicators collected
page491: 0 indicators collected
page492: 0 indicators collected
page493: 0 indicators collected
page494: 0 indicators collected
page495: 0 indicators collected
page496: 0 indicators collected
page497: 0 indicators collected
page498: 0 indicators collected
page499: 0 indicators collected
page500: 0 indicators collected
page501: 0 indicators collected
page502: 0 indicators collected
page503: 0 indicators collected
page504: 0 indicators collected
page505: 0 indicators collected
page506: 0 indicators collected
page507: 0 indicators collected
page508: 0 indicators collected
page509: 0 indicators collected
page510: 0 indicators collected
page511: 0 indicators collected
page512: 0 indicators collected
page513: 0 indicators collected
page514: 0 indicators collected
page515: 0 indicators collected
page516: 0 indicators collected
page517: 0 indicators collected
page518: 0 indicators collected
page519: 0 indicators collected
page520: 0 indicators collected
page521: 0 indicators collected
page522: 0 indicators collected
page523: 0 indicators collected
page524: 0 indicators collected
page525: 0 indicators collected
page526: 0 indicators collected
page527: 0 indicators collected
page528: 0 indicators collected
page529: 0 indicators collected
page530: 0 indicators collected
page531: 0 indicators collected
page532: 0 indicators collected
page533: 0 indicators collected
page534: 0 indicators collected
page535: 0 indicators collected
page536: 0 indicators collected
page537: 0 indicators collected
page538: 0 indicators collected
page539: 0 indicators collected
page540: 0 indicators collected
page541: 0 indicators collected
page542: 0 indicators collected
page543: 0 indicators collected
page544: 0 indicators collected
page545: 0 indicators collected
page546: 0 indicators collected
page547: 0 indicators collected
page548: 0 indicators collected
page549: 0 indicators collected
page550: 0 indicators collected
page551: 0 indicators collected
page552: 0 indicators collected
page553: 0 indicators collected
page554: 0 indicators collected
page555: 0 indicators collected
page556: 0 indicators collected
page557: 0 indicators collected
page558: 0 indicators collected
page559: 0 indicators collected
page560: 0 indicators collected
page561: 0 indicators collected
page562: 0 indicators collected
page563: 0 indicators collected
page564: 0 indicators collected
page565: 0 indicators collected
page566: 0 indicators collected
page567: 0 indicators collected
page568: 0 indicators collected
page569: 0 indicators collected
page570: 0 indicators collected
page571: 0 indicators collected
page572: 0 indicators collected
page573: 0 indicators collected
page574: 0 indicators collected
page575: 0 indicators collected
page576: 0 indicators collected
page577: 0 indicators collected
page578: 0 indicators collected
page579: 0 indicators collected
page580: 0 indicators collected
page581: 0 indicators collected
page582: 0 indicators collected
page583: 0 indicators collected
page584: 0 indicators collected
page585: 0 indicators collected
page586: 0 indicators collected
page587: 0 indicators collected

In [75]:
final_df=pd.concat(all_dfs,ignore_index=True)

In [76]:
final_df.to_csv("final_df.csv")

In [ ]:
# Extract values for various indicators under the domain for each country

In [77]:
indicator_groups = {
"economic_activity_growth": [
"NY.GDP.MKTP.KD.ZG", # GDP growth (annual %)
"NY.GDP.PCAP.CD" # GDP per capita (current US$)
],
"labour_market_indicators": [
"SL.UEM.TOTL.ZS", # Unemployment total
"SL.UEM.1524.ZS", # Unemployment youth total (ages 15–24)
"SL.TLF.TOTL.IN" # Labour force, total
],
"trade_globalization": [
"NE.EXP.GNFS.CD", # Exports of goods and services (current US$)
"NE.IMP.GNFS.CD" # Imports of goods and services (current US$)
],
"poverty_inequality": [
"SI.POV.NAHC", # Poverty headcount ratio at national poverty lines (% of population)
"SI.POV.GINI" # Gini index (measure of income inequality)
],
"environmental_indicators": [
"EG.FEC.RNEW.ZS", # Renewable energy consumption (% of total final energy consumption)
"AG.LND.FRST.ZS" # Forest area (% of land area)
],
"health_indicators": [
"SP.DYN.LE00.IN", # Life expectancy at birth
"SP.DYN.IMRT.IN", # Infant mortality rate
"SH.H2O.BASW.ZS", # Access to at least basic water services (% of population)
"SH.XPD.CHEX.GD.ZS", # Current health expenditure (% of GDP)
"SH.IMM.IDPT", # Immunization, DPT (% of children ages 12–23 months)
"SH.IMM.MEAS", # Immunization, measles (% of children ages 12–23 months)
"SH.MMR.RISK.ZS", # Risk of maternal death
"SH.DTH.COMM.ZS", # Deaths from communicable diseases (% of total)
"SH.TBS.INCD", # Tuberculosis incidence (per 100,000 people)
"SH.STA.BRTC.ZS", # Births attended by skilled health staff (%)
"SH.STA.MMRT", # Maternal mortality ratio (modeled estimate, per 100,000 live births)
"SP.POP.65UP.TO.ZS", # Population ages 65 and above (% of total population)
"SH.HIV.INCD.ZS" # HIV incidence rate (per 1,000 uninfected population ages 15–49)
],
"technology_indicators": [
"IT.NET.USER.ZS", # Individuals using the Internet (% of population)
"IT.CEL.SETS.P2" # Mobile cellular subscriptions (per 100 people)
]}

In [78]:
for i,j in indicator_groups.items():
  print(j)

['NY.GDP.MKTP.KD.ZG', 'NY.GDP.PCAP.CD']
['SL.UEM.TOTL.ZS', 'SL.UEM.1524.ZS', 'SL.TLF.TOTL.IN']
['NE.EXP.GNFS.CD', 'NE.IMP.GNFS.CD']
['SI.POV.NAHC', 'SI.POV.GINI']
['EG.FEC.RNEW.ZS', 'AG.LND.FRST.ZS']
['SP.DYN.LE00.IN', 'SP.DYN.IMRT.IN', 'SH.H2O.BASW.ZS', 'SH.XPD.CHEX.GD.ZS', 'SH.IMM.IDPT', 'SH.IMM.MEAS', 'SH.MMR.RISK.ZS', 'SH.DTH.COMM.ZS', 'SH.TBS.INCD', 'SH.STA.BRTC.ZS', 'SH.STA.MMRT', 'SP.POP.65UP.TO.ZS', 'SH.HIV.INCD.ZS']
['IT.NET.USER.ZS', 'IT.CEL.SETS.P2']

In [84]:
response=requests.get("https://api.worldbank.org/countries/all/indicators/IT.CEL.SETS.P2?format=json")

In [85]:
response.json()[0]

{'page': 1,
 'pages': 346,
 'per_page': 50,
 'total': 17290,
 'sourceid': '2',
 'lastupdated': '2025-12-19'}

In [97]:
import time
import requests
import pandas as pd

base_url = "https://api.worldbank.org/countries/all/indicators/{}?format=json&per_page=1000&page={}"

category_dataframes = {}

for category, indicators in indicator_groups.items():
    print(f"Fetching information for category: {category}")
    all_dfs_for_category = []

    for indicator_code in indicators:
        print(f"Fetching indicator: {indicator_code}")
        page = 1

        while True:
            url = base_url.format(indicator_code, page)
            response = requests.get(url)

            if response.status_code != 200:
                print(f"No data for indicator {indicator_code} on page {page}")
                break

            data = response.json()
            if len(data) < 2:
                print(f"Failed at page {page}")
                break

            total_pages = data[0]["pages"]
            records = data[1]

            df = pd.json_normalize(records)

            expected_cols = [
                "country.id", "country.value", "indicator.id",
                "indicator.value", "date", "value"
            ]
            available_cols = [col for col in expected_cols if col in df.columns]

            df = df[available_cols].rename(columns={
                "country.id": "country_id",
                "country.value": "country_value",
                "indicator.id": "indicator_id",
                "indicator.value": "indicator_name",
                "date": "year"
            })

            df["year"] = pd.to_numeric(df["year"], errors="coerce")
            df = df[df["year"] > 2015]

            all_dfs_for_category.append(df)

            if page >= total_pages:
                break
            else:
                page += 1
                time.sleep(0.3)

    if all_dfs_for_category:
        combined_df = pd.concat(all_dfs_for_category, ignore_index=True)
        category_dataframes[category] = combined_df
        print(f"Total rows collected for {category}: {len(combined_df)}")
    else:
        print(f"No data collected for {category}")

print("Data Fetching completed")

Fetching information for category: economic_activity_growth
Fetching indicator: NY.GDP.MKTP.KD.ZG
Fetching indicator: NY.GDP.PCAP.CD
Total rows collected for economic_activity_growth: 4788
Fetching information for category: labour_market_indicators
Fetching indicator: SL.UEM.TOTL.ZS
Fetching indicator: SL.UEM.1524.ZS
Fetching indicator: SL.TLF.TOTL.IN
Total rows collected for labour_market_indicators: 7182
Fetching information for category: trade_globalization
Fetching indicator: NE.EXP.GNFS.CD
Fetching indicator: NE.IMP.GNFS.CD
Total rows collected for trade_globalization: 4788
Fetching information for category: poverty_inequality
Fetching indicator: SI.POV.NAHC
Fetching indicator: SI.POV.GINI

C:\Users\samya\AppData\Local\Temp\ipykernel_19840\1551190489.py:61: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  combined_df = pd.concat(all_dfs_for_category, ignore_index=True)

Total rows collected for poverty_inequality: 4788
Fetching information for category: environmental_indicators
Fetching indicator: EG.FEC.RNEW.ZS
Fetching indicator: AG.LND.FRST.ZS
Total rows collected for environmental_indicators: 4788
Fetching information for category: health_indicators
Fetching indicator: SP.DYN.LE00.IN
Fetching indicator: SP.DYN.IMRT.IN
Fetching indicator: SH.H2O.BASW.ZS
Fetching indicator: SH.XPD.CHEX.GD.ZS
Fetching indicator: SH.IMM.IDPT
Fetching indicator: SH.IMM.MEAS
Fetching indicator: SH.MMR.RISK.ZS
Fetching indicator: SH.DTH.COMM.ZS
Fetching indicator: SH.TBS.INCD
Fetching indicator: SH.STA.BRTC.ZS
Fetching indicator: SH.STA.MMRT
Fetching indicator: SP.POP.65UP.TO.ZS
Fetching indicator: SH.HIV.INCD.ZS
Total rows collected for health_indicators: 31122
Fetching information for category: technology_indicators
Fetching indicator: IT.NET.USER.ZS
Fetching indicator: IT.CEL.SETS.P2
Total rows collected for technology_indicators: 4788
Data Fetching completed

In [98]:
# Extract category DataFrames
economic_activity = category_dataframes.get("economic_activity_growth", pd.DataFrame())
labour_market_jobs = category_dataframes.get("labour_market_indicators", pd.DataFrame())
trade_globalization = category_dataframes.get("trade_globalization", pd.DataFrame())
poverty_inequality = category_dataframes.get("poverty_inequality", pd.DataFrame())
environmental_indicators = category_dataframes.get("environmental_indicators", pd.DataFrame())
health_indicators = category_dataframes.get("health_indicators", pd.DataFrame())
technology_indicators = category_dataframes.get("technology_indicators", pd.DataFrame())

In [100]:
print(countries.columns)

Index(['country_id', 'iso2Code', 'name', 'region', 'incomeLevel',
       'lendingType', 'longitude', 'latitude'],
      dtype='object')

In [101]:
economic = pd.merge(economic_activity, countries, on="country_id", how="inner")
labour_market = pd.merge(labour_market_jobs, countries, on="country_id", how="inner")
trade = pd.merge(trade_globalization, countries, on="country_id", how="inner")
poverty = pd.merge(poverty_inequality, countries, on="country_id", how="inner")
environment = pd.merge(environmental_indicators, countries, on="country_id", how="inner")
health = pd.merge(health_indicators, countries, on="country_id", how="inner")
technology = pd.merge(technology_indicators, countries, on="country_id", how="inner")

In [102]:

# Drop only valid columns (safe version)
cols_to_drop = ["indicator_id", "id"]  # 'name' doesn’t exist in these merged frames
for df in [economic, trade, labour_market, poverty, environment, health, technology]:
    df.drop(columns=[c for c in cols_to_drop if c in df.columns], inplace=True)

In [103]:
health

Empty DataFrame
Columns: [country_id, country_value, indicator_name, year, value, iso2Code, name, region, incomeLevel, lendingType, longitude, latitude]
Index: []